<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustak</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/gif" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <main role="main" class="container">
        <div class="error-row">
          <div class="col-md-8">
            <div class="error-content-section">
                <h1>Something went wrong (500)</h1>
                <p>We're experiencing some trouble on our end. Please try again in the near future</p>
            </div>
          </div>
        </div>
    </main>
</body>
</html>