{% extends "layout.html" %} {% block content%}
<div class="container w-50">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add New Book</legend>

      <div clas="form-group">
        {{ form.title.label(class="form-control-label") }} {% if
        form.title.errors %} {{ form.title(class="form-control form-control-lg
        is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.title(class="form-control form-control-lg") }} {%
        endif %}
      </div>

      <div clas="form-group">
        {{ form.author.label(class="form-control-label") }} {% if
        form.author.errors %} {{ form.author(class="form-control form-control-lg
        is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.author.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.author(class="form-control form-control-lg") }} {%
        endif %}
      </div>

      <div clas="form-group">
        {{ form.description.label(class="form-control-label") }} {% if
        form.description.errors %} {{ form.description(class="form-control
        form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.description.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.description(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div clas="form-group">
        {{ form.cover_image.label() }} {{
        form.cover_image(class="form-control-file")}}
        {% if form.cover_image.errors %}
        {% for error in form.cover_image.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
      </div>
      
      <div clas="form-group">
        {{ form.date_written.label() }}
        {{ form.date_written(class="DateTimeField")}}
      </div>

    </fieldset>
    <div class="form-group">{{ form.submit(class="btn btn-outline-info")}}</div>
  </form>
</div>
{% endblock content%}