{% extends "layout.html" %} {% block content %}
<div class="site-banner">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="colored">
            <h1 class="page-title">Favourites</h1>
            <div class="breadcum-items">
              <span class="item">
                <a href="/">Home /</a>
              </span>
              <span class="item colored">
                Favourites
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="padding-medium">
  <div class="container">
    <div class="row">
      {% if favourite_books %}
      {% for favourite in favourite_books %}
      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <a
              href="{{ url_for('single_product', book_id=favourite.id) }}">
              <img
                src="data:image/jpeg;base64, {{ favourite.image_data }}"
                alt="{{ favourite.title }} Cover"
                class="product-item" /></a>
          </figure>
          <figcaption>
            <h3>{{ favourite.title }}</h3>
            <a
              href="{{ url_for('author', author_id=favourite.author.id) }}"><p>{{
                favourite.author.name }}</p></a>
          </figcaption>
        </div>
      </div>
      {% endfor %}
      {%endif%}
    </div>
  </div>
</section>
{% endblock content %}