{% extends "layout.html" %} {% block content %}
{% for article in articles %}
{% if article.id==1 %}
<section id="billboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-slider pattern-overlay">
                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">{{article.short_title}}</h2>
                            <p>{{article.short_description}}</p>
                            <div class="btn-wrap">
                                <a href="{{url_for('single_article', article_id=article.id)}}"
                                    class="btn btn-outline-accent btn-accent-arrow">Read
                                    More<i class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div>
                        <img src="data:image/jpeg;base64, {{article.image_data}}" alt="banner" class="banner-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Featured Books</h2>
                </div>
                <div class="product-list">
                    <div class="row">

                        {% for book in books %}
                        {% if book.id==2 %}
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <a href="{{ url_for('single_product', book_id=book.id)}}">
                                        <img src="data:image/jpeg;base64, {{book.image_data}}" alt="Books"
                                            class="product-item" /></a>
                                </figure>
                                <figcaption>
                                    <a href="{{ url_for('single_product', book_id=book.id)}}">
                                        <h3>{{ book.title }}</h3>
                                    </a>
                                    <span>{{ book.author }}</span>
                                </figcaption>
                            </div>
                        </div>
                        {%endif%}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-wrap align-right">
                    <a href="{{ url_for('store') }}" class="btn-accent-arrow">View all products <i
                            class="icon icon-ns-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    {% for book in books %}
                    {% if book.id==1 %}
                    <div class="col-md-6">
                        <figure class="products-thumb">
                            <a href="{{url_for('single_product', book_id=book.id)}}"><img
                                    src="data:image/jpeg;base64, {{book.image_data}}" alt="book"
                                    class="single-image" /></a>
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling
                                Book</h2>

                            <div class="products-content">
                                <div class="author-name">{{book.author}}</div>
                                <a href="{{url_for('single_product', book_id=book.id)}}"><h3 class="item-title">{{book.title}}</h3></a>
                                <p>{{book.short_description}}</p>
                                <div class="btn-wrap">
                                    <a href="{{url_for('single_product', book_id=book.id)}}"
                                        class="btn btn-outline-accent btn-accent-arrow">Read
                                        More<i class="icon icon-ns-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Popular Books</h2>
                </div>

                <div class="product-list">
                    <div class="row">
                        {% for book in books %}
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <a href="{{ url_for('single_product', book_id=book.id)}}">
                                        <img src="data:image/jpeg;base64, {{book.image_data}}" alt="Books"
                                            class="product-item" /></a>
                                </figure>
                                <figcaption>
                                    <a href="{{ url_for('single_product', book_id=book.id)}}">
                                        <h3>{{ book.title }}</h3>
                                    </a>
                                    <span>{{ book.author }}</span>
                                </figcaption>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="quotation" class="align-center pb-5 mb-5">
    <div class="inner-content">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote>
            <q>“The more that you read, the more things you will know. The more
                that you learn, the more places
                you’ll go.”</q>
            <div class="author-name">Dr. Seuss</div>
        </blockquote>
    </div>
</section>

<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Read our articles</span>
                    </div>
                    <h2 class="section-title">Latest Articles</h2>
                </div>

                {% for article in articles %}
                <div class="row">
                    <div class="col-md-4">
                        <article class="column">
                            <figure>
                                <a href="{{url_for('single_article', article_id=article.id)}}">
                                    <img src="data:image/jpeg;base64, {{article.image_data}}" alt="post"
                                        class="post-image" />
                                </a>
                            </figure>

                            <div class="post-item">
                                <div class="meta-date">{{article.date_created}}</div>
                                <h3>
                                    <a href="{{url_for('single_article', article_id=article.id)}}">{{article.title}}</a>
                                </h3>
                            </div>
                        </article>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="btn-wrap align-center">
                        <a href="{{ url_for('article') }}" class="btn btn-outline-accent btn-accent-arrow"
                            tabindex="0">Read All Articles<i class="icon icon-ns-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}