{% extends "layout.html" %} {% block content %}
<section id="billboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="main-slider pattern-overlay">
                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Benefits of Reading
                                Books!</h2>
                            <p>
                                Reading books may have several physical and
                                mental benefits. These include strengthening
                                your brain, increasing your ability to
                                empathize, reducing stress, and building your
                                vocabulary, among others.
                            </p>
                            <div class="btn-wrap">
                                <a href="#" class="btn btn-outline-accent btn-accent-arrow">Read
                                    More<i class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div>
                        <img src="static/images/reading-a-book.jpg" alt="banner" class="banner-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Featured Books</h2>
                </div>
                <div class="product-list">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/product-item1.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Simple way of piece life</h3>
                                    <span>Armor Ramsey</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/product-item2.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Great travel at desert</h3>
                                    <span>Sanchit Howdy</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/product-item3.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>The lady beauty Scarlett</h3>
                                    <span>Arthur Doyle</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/product-item4.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Once upon a time</h3>
                                    <span>Klien Marry</span>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-wrap align-right">
                    <a href="{{ url_for('store') }}" class="btn-accent-arrow">View all products <i
                            class="icon icon-ns-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="products-thumb">
                            <img src="static/images/single-image.jpg" alt="book" class="single-image" />
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling
                                Book</h2>

                            <div class="products-content">
                                <div class="author-name">By Timbur Hood</div>
                                <h3 class="item-title">Birds gonna be happy</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Sed
                                    eu feugiat amet, libero ipsum enim pharetra
                                    hac.
                                </p>
                                <div class="btn-wrap">
                                    <a href="{{ url_for('best_selling') }}"
                                        class="btn btn-outline-accent btn-accent-arrow">Read
                                        More<i class="icon icon-ns-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Popular Books</h2>
                </div>
                <div class="tab-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item1.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Portrait photography</h3>
                                    <span>Adam Silber</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item2.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Once upon a time</h3>
                                    <span>Klien Marry</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item3.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Tips of simple lifestyle</h3>
                                    <span>Bratt Smith</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item4.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Just felt from outside</h3>
                                    <span>Nicole Wilson</span>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item5.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Peaceful Enlightment</h3>
                                    <span>Marmik Lama</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item6.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Great travel at desert</h3>
                                    <span>Sanchit Howdy</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item7.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Life among the pirates</h3>
                                    <span>Armor Ramsey</span>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="static/images/tab-item8.jpg" alt="Books" class="product-item" />
                                </figure>
                                <figcaption>
                                    <h3>Simple way of piece life</h3>
                                    <span>Armor Ramsey</span>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="quotation" class="align-center pb-5 mb-5">
    <div class="inner-content">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote>
            <q>“The more that you read, the more things you will know. The more
                that you learn, the more places
                you’ll go.”</q>
            <div class="author-name">Dr. Seuss</div>
        </blockquote>
    </div>
</section>

<!-- <section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-element">
                            <h2 class="section-title divider">Subscribe to our newsletter</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="subscribe-content">
                            <p>
                                Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit
                                amet, consectetur. Elit adipiscing enim pharetra hac.
                            </p>
                            <form id="form">
                                <input type="text" name="email" placeholder="Enter your email addresss here" />
                                <button class="btn-subscribe">
                                    <span>send</span>
                                    <i class="icon icon-send"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Read our articles</span>
                    </div>
                    <h2 class="section-title">Latest Articles</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <article class="column">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="static/images/post-img1.jpg" alt="post" class="post-image" />
                                </a>
                            </figure>

                            <div class="post-item">
                                <div class="meta-date">Mar 30, 2021</div>
                                <h3>
                                    <a href="#">Reading books always makes the
                                        moments happy</a>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="column">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="static/images/post-img2.jpg" alt="post" class="post-image" />
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Mar 29, 2021</div>
                                <h3>
                                    <a href="#">Reading books always makes the
                                        moments happy</a>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="column">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="static/images/post-img3.jpg" alt="post" class="post-image" />
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Feb 27, 2021</div>
                                <h3>
                                    <a href="#">Reading books always makes the
                                        moments happy</a>
                                </h3>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <div class="btn-wrap align-center">
                        <a href="{{ url_for('article') }}" class="btn btn-outline-accent btn-accent-arrow"
                            tabindex="0">Read All Articles<i class="icon icon-ns-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}