{% extends "layout.html"%}
{% block content %}

<section class="bg-sand padding-medium">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <a href="#" class="product-image"><img src="data:image/jpeg;base64, {{book.image_data }}"></a>
      </div>

      <div class="col-md-7 pl-5">
        <div class="product-detail">
          <span>{{ book.genre }}</span>
          <h1>{{ book.title }}</h1>
          <a href="{{ url_for('author', author_id=book.author.id) }}">
            <h4>
              {{ book.author.name }}
            </h4>
          </a>
          <p>
            {{ book.description }}
          </p>
          <p>
            {{ book.first_para }}
          </p>
          <p>
            {{ book.second_para }}
          </p>
          <p>
            {{ book.third_para }}
          </p>
          <p>
            {{ book.fourth_para }}
          </p>
          <p>
            {{ book.fifth_para }}
          </p>
          <div class="d-flex gap-3">
            <a href="{{ book.links}}">
              <button type="submit" class="button m-0">Buy On Amazon</button></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock content%}