{% extends "layout.html" %} {% block content %}
<div class="site-banner">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="colored">
            <h1 class="page-title">Store</h1>
            <div class="breadcum-items">
                <span class="item">
                    <a href="/">Home /</a>
                </span>
                <span class="item colored">
                    Shop
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="padding-medium">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item1.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>Portrait Photography</h3>
            <p>Adam Silber</p>
            <div class="item-price">$ 40.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item2.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item3.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item4.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item5.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item6.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item7.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item8.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item8.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item1.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item2.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item6.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item7.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item2.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item6.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item8.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item5.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item2.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item2.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <img
              src="static/images/tab-item3.jpg"
              alt="books"
              class="product-item"
            />
            <button
              type="button"
              class="add-to-cart"
              data-product-title="add-to-cart"
            >
              Add To Cart
            </button>
          </figure>
          <figcaption>
            <h3>As you like it</h3>
            <p>ajbhcab Hjahasa</p>
            <div class="item-price">$ 60.00</div>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}