{% extends "layout.html" %} {% block content %}
<div class="site-banner">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="colored">
            <h1 class="page-title">Store</h1>
            <div class="breadcum-items">
              <span class="item">
                <a href="/">Home /</a>
              </span>
              <span class="item colored">
                Store
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="padding-medium">
  <div class="container">
    <div class="row">

      {% for book in books.items %}
      <div class="col-md-3">
        <div class="product-item">
          <figure class="product-style">
            <a href="{{ url_for('single_product', book_id=book.id) }}"><img
                src="data:image/jpeg;base64, {{ book.image_data }}" alt="{{ book.title }} Cover"
                class="product-item" /></a>
          </figure>
          <figcaption>
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
          </figcaption>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <nav class="mt-5">
        <ul class="pagination justify-content-center">
          {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if books.page==page_num %}
                <li class="page-item active">
                  <a class="page-link" href="{{url_for('store', page=page_num) }}">{{page_num}}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{{url_for('store', page=page_num) }}">{{page_num}}</a>
                </li>
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</section>

{% endblock content %}